version: "3"

networks:
  traefik:
    external:
      name: traefik_general

volumes:
  server:
    driver: local

services:
  server:
    image: ${DOWNLOADS_CONTAINER}
    restart: always
    environment:
      - S3_KEY=${MINIO_ACCESS}
      - S3_SECRET=${MINIO_SECRET}
      - S3_BUCKET=releases
      - S3_ENDPOINT=storage.gitea.io
      - S3_PROTO=https
      - S3_HOST=storage.gitea.io
      - S3_EXTRA=/releases/
    networks:
      - traefik
    labels:
      - traefik.docker.network=traefik_general
      - traefik.port=80
      - traefik.frontend.rule=Host:${DOWNLOADS_DOMAIN}
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro

  minio:
    image: ${MINIO_CONTAINER}
    restart: always
    environment:
      - MINIO_ACCESS_KEY=${MINIO_ACCESS}
      - MINIO_SECRET_KEY=${MINIO_SECRET}
    networks:
      - traefik
    labels:
      - traefik.docker.network=traefik_general
      - traefik.port=9000
      - traefik.frontend.rule=Host:${MINIO_DOMAIN}
    #healthcheck:
    #  test: ["CMD", "curl", "-f", "http://localhost:9000/minio/"]
    #  interval: 30s
    #  timeout: 10s
    #  retries: 5
    volumes:
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      - server:/var/lib/minio
