DOWNLOADS_CONTAINER={{ downloads_container }}
DOWNLOADS_DOMAIN={{ downloads_domain }}

MINIO_CONTAINER={{ minio_container }}
MINIO_DOMAIN={{ minio_domain }}
MINIO_ACCESS={{ minio_access }}
MINIO_SECRET={{ minio_secret }}
