[Unit]
Description=Lgtm

Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/default/secrets
EnvironmentFile=/etc/default/lgtm
ExecStop=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull gitea/lgtm:latest

ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname lgtm.gitea.io \
  --label traefik.frontend.rule=Host:lgtm.gitea.io \
  --env GITHUB_CLIENT=$LGTM_GITHUB_CLIENT \
  --env GITHUB_SECRET=$LGTM_GITHUB_SECRET \
  --env DEBUG=$LGTM_DEBUG \
  gitea/lgtm:latest

[Install]
WantedBy=multi-user.target
