TRAEFIK_CONTAINER={{ traefik_container }}

TRAEFIK_CLOUDFLARE_EMAIL={{ traefik_cloudflare_email }}
TRAEFIK_CLOUDFLARE_APIKEY={{ traefik_cloudflare_apikey }}

TRAEFIK_WATCHTOWER_CONTAINER={{ traefik_watchtower_container }}
TRAEFIK_WATCHTOWER_CLEANUP={{ traefik_watchtower_cleanup | default(False) | lower }}
