[Unit]
Description=Traefik

Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/default/secrets
EnvironmentFile=/etc/default/traefik
ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull {{ traefik_container }}

ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname {{ traefik_domain }} \
  --label traefik.enable=false \
  --volume /etc/acme.json:/etc/acme.json \
  --volume /etc/traefik.toml:/etc/traefik.toml \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --env CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL} \
  --env CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY} \
  --publish 443:443 \
  --publish 80:80 \
  {{ traefik_container }} -c /etc/traefik.toml

[Install]
WantedBy=multi-user.target
