defaultEntryPoints = ["http", "https"]
logLevel = "INFO"

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]

[acme]
email = "{{ traefik_email }}"
storageFile = "/etc/acme.json"
entryPoint = "https"
onDemand = true

[docker]
domain = "{{ traefik_domain }}"
watch = true
