[Unit]
Description=Coverage

Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/default/secrets
EnvironmentFile=/etc/default/coverage
ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull aircover/aircover:latest

ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname coverage.gitea.io \
  --label traefik.frontend.rule=Host:coverage.gitea.io \
  --env GITHUB_CLIENT=$COVERAGE_GITHUB_CLIENT \
  --env GITHUB_SECRET=$COVERAGE_GITHUB_SECRET \
  --env TEAMS=$COVERAGE_TEAMS \
  --env ADMINS=$COVERAGE_ADMINS \
  --env DEBUG=$COVERAGE_DEBUG \
  aircover/aircover:latest

[Install]
WantedBy=multi-user.target
