PAGES_REDIRECTS_DOMAIN={{ pages_redirects_domain }}
PAGES_REDIRECTS_CONTAINER={{ pages_redirects_container }}

PAGES_BLOG_DOMAIN={{ pages_blog_domain }}
PAGES_BLOG_CONTAINER={{ pages_blog_container }}

PAGES_DOCS_DOMAIN={{ pages_docs_domain }}
PAGES_DOCS_CONTAINER={{ pages_docs_container }}

PAGES_WEBSITE_DOMAIN={{ pages_website_domain }}
PAGES_WEBSITE_CONTAINER={{ pages_website_container }}
