[Unit]
Description=Agent

Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/default/secrets
EnvironmentFile=/etc/default/drone
ExecStop=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull {{ drone_container }}

ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.enable=false \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --env DRONE_DEBUG=${DRONE_DEBUG} \
  --env DRONE_SERVER=${DRONE_SERVER} \
  --env DRONE_SECRET=${DRONE_SECRET} \
  --env DRONE_PLUGIN_PULL=${DRONE_PLUGIN_PULL} \
  --env DOCKER_MAX_PROCS=${DRONE_DOCKER_MAX_PROCS} \
  {{ drone_container }} agent

[Install]
WantedBy=multi-user.target
