DRONE_GITHUB={{ drone_github }}
DRONE_OPEN={{ drone_open }}
DRONE_ORGS={{ drone_orgs }}
DRONE_ADMIN={{ drone_admins }}
DRONE_DEBUG={{ drone_debug }}
DRONE_SERVER=wss://{{ drone_domain }}/ws/broker
DRONE_PLUGIN_PULL={{ drone_plugin_pull }}
DRONE_DOCKER_MAX_PROCS={{ drone_max_procs }}
