[Unit]
Description=Drone

Requires=docker.service
After=docker.service

[Service]
Restart=always

EnvironmentFile=/etc/default/secrets
EnvironmentFile=/etc/default/drone
ExecStop=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /usr/bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull {{ drone_container }}

ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.frontend.rule=Host:{{ drone_domain }} \
  --volume /var/lib/drone:/var/lib/drone \
  --env DRONE_GITHUB=${DRONE_GITHUB} \
  --env DRONE_GITHUB_CLIENT=${DRONE_GITHUB_CLIENT} \
  --env DRONE_GITHUB_SECRET=${DRONE_GITHUB_SECRET} \
  --env DRONE_SECRET=${DRONE_SECRET} \
  --env DRONE_OPEN=${DRONE_OPEN} \
  --env DRONE_ORGS=${DRONE_ORGS} \
  --env DRONE_ADMIN=${DRONE_ADMIN} \
  {{ drone_container }} server

[Install]
WantedBy=multi-user.target
